{% extends 'base.html.twig' %}

{% block title %}Vet index{% endblock %}

{% block body %}
    <h1>Vet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vet in vets %}
            <tr>
                <td>{{ vet.id }}</td>
                <td>{{ vet.firstName }}</td>
                <td>{{ vet.lastName }}</td>
                <td>
                    <a href="{{ path('app_vet_show', {'id': vet.id}) }}">show</a>
                    <a href="{{ path('app_vet_edit', {'id': vet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vet_new') }}">Create new</a>
{% endblock %}
